PORT = 8000

CLIENT_URL = http://localhost:3000
SERVER_URL = http://localhost:8000

USER = growthpod_user
HOST = dpg-d017csili9vc739skre0-a
DATABASE = growthpod
PASSWORD =ieBWJDnrQEctDFl7O5RWr552GnkIbWgt
DBPORT = 5432

DATABASE_URL = postgresql://growthpod_user:ieBWJDnrQEctDFl7O5RWr552GnkIbWgt@dpg-d017csili9vc739skre0-a.virginia-postgres.render.com/growthpod

SECRET = 123
